---
layout: default
---
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  
<style>

      .font{
          font-family: 'Montserrat';
          text-align:center;
          font-weight: bold;
      }



     
  </style>
</head>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <div class="font">
            <h1><div id="title"> </div></h1>
                <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
                <script>
                    const title = document.getElementById("title");
                    const typewriter = new Typewriter(title, {
                        loop: false,
                        delay: 75
                    });
                    typewriter
                    .pauseFor(2500)
                    .typeString("Blog")
                    .start();
                </script>


                <p><h3><div id="subtitle" class="subtitle"> </div></h3></p>
                <script>
                    const subtitle = document.getElementById("subtitle");
                    const typewrite = new Typewriter(subtitle, {
                        loop: false,
                        delay: 75
                    });
                    typewrite
                    .pauseFor(6000)
                    .typeString("Miscellanous Ruminations on Life")
                    .start();
                </script>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
